package templates

import (
  "johtotimes.com/src/constants"
)

// Provides the core HTML scaffolding
templ Base(title string, body templ.Component) {
  <html lang="en-gb">
    @Head(title)
    <body>
      @Header()
      <div id="content" class="content">
        @body
      </div>
      @TabBar(constants.Tabs)
    </body>
  </html>
}
