package templates

import (
  "johtotimes.com/src/internal"
)

// Provides the core HTML scaffolding
templ Base(title string, body templ.Component) {
  <html lang="en-gb">
    @Head(title)
    <body>
      @Header()
      <div class="content">
        @body
      </div>
      @TabBar(internal.Tabs)
    </body>
  </html>
}


// This will be different according to the page
templ Body(body templ.Component) {

}

// Common footer elements for all pages
templ Foot() {

}
