@font-face {
	font-family: 'Work Sans';
	src: url('/web/fonts/WorkSans.ttf');
	src:
		local('WorkSans'),
		local('WorkSans'),
		url('/web/fonts/WorkSans.ttf')
		format('truetype');
	font-display: swap;
}

@font-face {
	font-family: 'Annon';
	src: url('/web/fonts/Annon.ttf');
	src:
		local('Annon'),
		local('Annon'),
		url('/web/fonts/Annon.ttf')
		format('truetype');
	font-display: swap;
}
