.list {
  /* height: calc(100vh - 48px - 80px); */
  /* overflow: scroll; */
  width: 800px;
  max-width: 90vw;
  margin: 0 auto;
  padding-bottom: 40px;
  /* height: 100%; */
}

.list-item {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  /* gap: 10px; */
  background-color: var(--card-background);
  border-radius: 10px;
  overflow: hidden;
  filter: drop-shadow(0px 4px 4px #000);  
  will-change: filter;
  cursor: pointer;
}

.list-image {
  flex: 1;
}

.list-image img {
  width: 100%;
  height: auto;
} 

.list-contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  text-align: center;
}

.list-contents h3 {
  margin: 10px 0;
  font-family: var(--font-title);
  line-height: 16pt;
  font-weight: normal;
  font-feature-settings: "smcp", "zero";
  font-variant: small-caps;
}

.category {
  color: var(--neon-red);
  font-weight: bold;
  font-size: 13pt;
  line-height: 14pt;
  text-align: center;
}

.list-item .description {
  color: var(--gray);
  font-size: 12pt;
  line-height: 14pt;
}

/* Max width for mobile layout is iPad mini portrait */
@media (min-width: 770px) {
  .list-item {
    flex-direction: row;
    gap: 20px;
  }
}
