.container {
    width: 800px;
    max-width: 90vw;
    margin: 10px auto;
    background: var(--dark-background);
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 10px;
    padding: 10px;
    line-height: 1.5;
}


/** 
 * Images and their captions.
 * By convetion, images are contained in <a> tags,
 * and the caption is contained in the <em> tag.
 */
p:has(a+em) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
  font-size: 0.8em;
}

/** 
 * Image without a caption.
 */
p:has(a:has(img)) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* quotes for interviews */
blockquote > p:first-child {
  font-weight: bold;
}

blockquote {
  font-style: italic;
  color: #eeeeee;
  background-color: #222;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 20px;
}

.comment-wrapper {
  margin: 10px auto;
}

.comment-wrapper h1 {
  margin: 0 auto;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

.form-field label {
  font-weight: bold;
  display: none;
}
.form-field input {
  font-weight: bold;
  font-size: 1.2em;
  display: block;
  width: 100%;
  margin: 5px auto;
  padding: 5px;
  background-color: #3B3B3B;
  border: none;
  border-radius: 5px;
  color: white;
}

.form-field textarea {
  width: 100%;
  font-size: 14pt;
  margin: 5px auto;
  padding: 5px;
  background-color: #3B3B3B;
  border: none;
  border-radius: 5px;
}

.captcha-input {
  font-size: 2em !important;
  font-family: var(--font-unown);
  font-weight: normal !important;
  text-transform: uppercase;
}

#captcha-wrapper img {
  width: 256px;
  height: 64px;
}

.captcha-image {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  justify-content: center;
  gap: 32px;
}
.captcha-image button {
  font-size: 2em;
  width: 64px;
  height: 64px;
}

.error-message {
  color: var(--neon-red);
}

.comment-author {
  font-weight: bold;
  font-size: 1.2em;
}

.comment-date {
  font-size: 0.8em;
  color: var(--gray);
}

/* Max width for mobile layout is iPad mini portrait */
@media (min-width: 770px) {
  .container {
    font-size: 14pt;
    line-height: 18pt;
  }

  h1 {
    font-size: 30pt;
    line-height: 32pt;
    margin: 20px 0;
  }
}

/* .single { */
/*   max-width: 800px; */
/*   margin: 0 auto; */
/*   padding: 0 1rem; */
/* } */
