.tab-bar {
    height: 48px;
    /* background-color: var(--dark-background); */
	background-color: rgba(55, 55, 55, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
	
	font-family: var(--font-title);
	font-variant: all-small-caps;
	color: var(--gray);
	font-size: 12px;
	line-height: 12px;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.tab {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 6px;
}

.tab-icon {
	height: 18;
	width: auto;
}
